.gpt3__brand {
    margin-top: -1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gpt3__brand div {
    flex: 1;
    max-width: 120px;
    min-width: 100px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}