.gpt3__blog {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.gpt3__blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.gpt3__blog-heading h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3__blog-container {
    display: flex;
}

.gpt3__blog-container_groupA {
    flex: 0.75;
}

.gpt3__blog-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 990px) {
    .gpt3__blog-container {
        flex-direction: column;
        gap: 2rem;
    }

    .gpt3__blog-container_groupB {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__blog-container {
        flex-direction: column;
    }

    .gpt3__blog-container_groupA {
        flex: 1;
    }

    .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
        height: 200px;
    }

    .gpt3__blog-container_groupB .gpt3__blog-container_article-image {
        height: 200px;
    }

    .gpt3__blog-container_groupB {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .gpt3__blog-heading h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
    }
}